* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}


#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#info{
    text-transform: uppercase;
    font-size: 1vh;  
}

#info p{
    display: inline;
}


#score {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
    align-items: center;
}


#reset-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    
}

#reset{
    display: flex;
    justify-content: flex-end;
    background-color: #FFFF;
    border: none;   
    height: 50px;
    transition: transform 0.2s ease;
}


#reset img{
    width: 40px;
    height: 30px;
}

#reset:active {
    color: white;
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
    
}




#click {
    background-color: #FFFF;
    border: none;
}

#click:active {
    color: white;
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
}