* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#title-head {
    font-size: 45px;
}

#lastscore {
    font-size: 30px;
    margin-top: 10px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#info{
    text-transform: uppercase;
    font-size: 1vh;
    font-size: 13px;
    margin-top: 10px;  
}

#info p{
    display: inline;
}


#score {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
    align-items: center;
}

#score-head{
    font-size: 38px;
}

#score-count {
    font-size: 30px;
}


#reset{
    background-color: #FFFF;
    border: none;   
    width: 60px;
    height: 50px;
    position: absolute;
    top: 220px; 
    right: 580px; 
}

#reset img{
    width: 40px;
    height: 32px;
}

#reset:active {
    color: white;
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
}


#click {
    background-color: #FFFF;
    border: none;
}

#click:active {
    color: white;
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
}

#textflammepersecond {
    color: black;
    font-size: 20px;
    margin-top: 15px;
}


#store{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.upgrade{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #FFFF;
    border: none;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    justify-content: center;
    background-color: #7b7b7b;
    display: flex;
    flex-direction: row;
    border: none;  
    font-size: 2em;
}
.upgrade:active {
    color: white;
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.upgrade-image {
    width: 40px;
    height: 32px;
    padding-left: 15px;
}



#updates {
    position: fixed;
    top: 170px;
    right: 200px; 
    display: grid;
    grid-template-columns: repeat(3, 60px); 
    gap: 10px;
    position: absolute;
}

#updates button {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;    
}

#updates button img {
    max-width: 100%;
    max-height: 100%;
}

#updates button img:hover {
    color: white;
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
}

#updates #cisceaupdate:hover::before {
    content: "Paper is twice as effective"; /* Contenu du message */
    position: absolute;
    top: -8px; /* Position au-dessus du bouton */
    left: 20px; /* Centré horizontalement */
    transform: translateX(-50%); /* Centré horizontalement */
    background-color: rgba(0, 0, 0, 0.8); /* Fond du message */
    color: white; /* Couleur du texte */
    padding: 5px; /* Espacement intérieur */
    border-radius: 5px; /* Bord arrondi */
}

#updates #axeupdate:hover::before {
    content: "Wood is twice as effective"; /* Contenu du message */
    position: absolute;
    top: -40px; /* Position au-dessus du bouton */
    left: 90px; /* Centré horizontalement */
    transform: translateX(-50%); /* Centré horizontalement */
    background-color: rgba(0, 0, 0, 0.8); /* Fond du message */
    color: white; /* Couleur du texte */
    padding: 5px; /* Espacement intérieur */
    border-radius: 5px; /* Bord arrondi */
    margin-top: 20px;
}

#improvementPaper-Price {
    position: absolute;
    top: 80px;
    left: 10px;
}

#improvementWood-Price {
    position: absolute;
    top: 80px;
    left: 80px;
}